<div class="container">
  <div class="jumbotron">
    <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>">My Learning Dashboard</a>
    <h5>Hello <%=@user.name() %></h5>
    <h1 class="text-center"><%=@language.name %></h1>
  </div>

  <a href="/">Home</a>
  <br>
  <a href="/users/<%=@user.id() %>/languages">Select Another Language</a>
  <br>
  <div class="row">
    <div class="col-md-4 dashboard_button">
      <a href="/projects"><div class="projects_button">
        <p>Projects</p>
      </div></a>
    </div>
  </div>

  <br>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips" class="dashboard_button">Tips</a>
  <br>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">Tags</a>
  <br>





</div>
