<!-- Dashboard Header -->
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
        <p class="lead display-5"><%= @user.name() %></p>
      </div>
    </section>
  </a>

  <div class="container">
    <div class="row row-centered">
      <div class="col-md-6 dashboard_button">
          <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">
            <div class="projects_button" id="pink">
              <h3 class="button_text">FLASHCARDS</h3>
            </div></a>
      </div>
      <div class="col-md-6 dashboard_button">
        <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects">
          <div class="projects_button" id="blue">
            <h3 class="button_text">PROJECTS</h3>
          </div>
            <a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 dashboard_button">
        <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips">
        <div class="projects_button" id="green">
          <h3 class="button_text">TIPS</h3>
        </div>
      </a>
      </div>
      <div class="col-md-6 dashboard_button">
        <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/resources">
        <div class="projects_button" id="yellow">
        <h3 class="button_text">RESOURCES</h3>
      </div>
    </a>
  </div>
</div>
</div>
