<div class="container">
  <div class="jumbotron">
    <h5>Hello <%=@user.name() %></h5>
    <h1 class="text-center"><%=@language.name %></h1>
  </div>

  <a href="/">Home</a>
  <br>
  <a href="/users/<%=@user.id() %>/languages">Select Another Language</a>
  <br>
  <a href="/projects">Projects</a>
  <br>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips">Tips</a>
  <br>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">Tags</a>
  <br>

</div>
