<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div id="language-menu">
        <h2>Select Language</h2>
        <% if @languages.any?() %>
          <form class="" action="/users/<%= @user.id%>/languages/" method="post">
            <div class="form-group">
              <select class="form-control form-control-lg" id="language_id" name ="language_id" type="text">
                <% @languages.each() do |language| %>
                  <option value="<%= language.id()%>"> <%= language.name() %> </option>
                <% end %>
              </select>
            </div>
            <br>
            <button class="btn btn-primary btn-lg" type="submit">Study</button>
            <a href="/users/<%= @user.id() %>/languages/new" role="button" class="btn btn-success btn-lg ml-2 add_language">Add language </a>
          </form>

        <% else  %>
          <div class="form-group">
            <select class="form-control form-control-lg" id="language_id" name ="language_id" type="text">
                <option value=0>No languages yet</option>
            </select>

            <a href="/users/<%= @user.id() %>/languages/new" type="button" role="button" class="btn btn-success btn-lg mt-4 add_language">Add language</a>
          </div>
        <% end %>
      <div class="home-icon">
      <a href="/"><i class="fa fa-home fa-3x mt-5" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
