<h3>You are learning <%= @language.name() %></h3>
<h3>Dashboard</h3>
<a href="languages/<%= @language.id %>/tags"><%= @language.name() %> Tags</a><br>
<a href="languages/<%= @language.id %>/flashcards"> Flashcards</a><br>
<a href="languages/<%= @language.id %>/projects"><%= @language.name() %> Projects</a><br>
<a href="languages/<%= @language.id %>/tips">Tips</a>
