<!-- Dashboard -->
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Hi, <%= @user.name()%> </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id()%>">Language <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">Flashcard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips">Tips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/resources">Resources</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/">Log Out</a>
    </span>
  </div>
</nav>
 <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
      </div>
    </section>
  </a>

<h1>Add a Project</h1>
<form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/new" method="post">

  <div class="form-group project_form_group ">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"  class="form-control" required >
  </div>

  <div class="form-group project_form_group project_form">
    <label for="date">Date: </label>
    <input id="date" name="date" type="date"  class="form-control" required>
  </div>

  <div class="form-group project_form_group project_form">
    <label for="description">Description: </label>
    <input id="description" name="description" type="text"  class="form-control" required>
  </div>

  <div class="form-group project_form_group project_form">
    <label for="github">Github Repo Link: </label>
    <input id="github" name="github" type="text"  class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
