<!-- Dashboard Header -->
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
        <p class="lead display-5"><%= @user.name() %></p>
        <h3> All Projects</h3>
      </div>
    </section>
  </a>


<div class="container" id="background">
<br>
<br>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/new"><h3>Add Project</h3></a>
    <% if @projects.any?() %>
      <% @projects.each() do |project| %>
        <div class="card project_card">
            <h3 class="card-header project_card_header"><%= project.name%></h3>
            <div class="card-blockquote">
              <p>Date: <%= project.date%></p>
              <p>Description: <%= project.description%></p>
              <a href="<%=project.github%>"><p >Github Repository Link</p></a>

              <div id="delete-btn" class = "text-right">
                <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/<%= project.id() %>/delete" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <button class = "delete_btn mt-1" type="submit"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></button>
                </form>
          </div>
        </div>
      <% end %>
    </ul>
  <% else %>
    <h4>No projects added yet. Please <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/new">Add project</a></h4>
  <% end %>
</div>
