<!-- Dashboard Header -->
<section id="cover">
  <div id="cover-caption">
    <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>"><h1 class="display-3"><%=@language.name() %></h1></a>
    <p class="lead display-5"><%= @user.name() %></p>
  </div>
</section>


<div class="container" id="background">
  <h1> All Projects</h1>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/new"><p>Add project</p></a>
    <% if @projects.any?() %>
      <% @projects.each() do |project| %>
        <div class="card project_card">
            <h3 class="card-header project_card_header"><%= project.name%></h3>
            <div class="card-blockquote">
              <p>Date: <%= project.date%></p>
              <p>Description: <%= project.description%></p>
              <a href="<%=project.github%>"><p >Github Link</p></a>

              <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/<delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <input type="image" class="delete_button" src="/img/delete_b.svg" type="submit">
              </form>

          </div>
        </div>
      <% end %>
    </ul>
  <% else %>
    <h4>No projects added yet. Please <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects/new">Add project</a></h4>
  <% end %>
</div>
