<section id="cover">
  <div id="cover-caption">
    <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>"><h1 class="display-3"><%=@language.name() %></h1></a>
    <p class="lead display-5"><%= @user.name() %></p>
  </div>
</section>


<div class="container">
  <h1>Resources</h1>
  <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/resources/new" method="post">
    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Link: </label>
      <input id="description" name="description" type="text"  class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>
