<!-- Dashboard -->
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Hi, <%= @user.name()%> </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id()%>">Language <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">Flashcard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips">Tips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/resources">Resources</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/">Log Out</a>
    </span>
  </div>
</nav>
 <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
      </div>
    </section>
  </a>

<div class="row" id="tag_title" >
  <div class="col-md-6">

    <div class="tags_row">
      <% if @tags.any?() %>
        <h3>Available tags</h3>
            <%@tags.each() do |tag|%>
              <p><a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags/<%= tag.id() %>"><%= tag.name() %></a></p>
            <% end %>
      <% end %>
    </div>

  </div>


  <div class="col-md-6">
    <form class="input_form" action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/add_tag" method="post">
      <div class="form-group">
        <label for="name"><h3>Name</h3></label>
        <input class="form-control" type="text" name="name">
      </div>
      <div class="btn-group">
        <button class="btn btn-success" type="submit">Add Tag</button>
      </div>
    </form>

  </div>

</div>
