<!-- Header -->
<a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
  <section id="cover">
    <div id="cover-caption">
    <h1 class="display-3"><%=@language.name() %></h1>
      <p class="lead display-5"><%= @user.name() %></p>
    </div>
  </section>
</a>

<div class="row" id="tag_title" >
  <div class="col-md-6">

    <div class="tags_row">
      <% if @tags.any?() %>
        <h3>Available tags</h3>
            <%@tags.each() do |tag|%>
              <p><a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags/<%= tag.id() %>"><%= tag.name() %></a></p>
            <% end %>
      <% end %>
    </div>

  </div>


  <div class="col-md-6" id="input_form">
    <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/add_tag" method="post">
      <div class="form-group">
        <label for="name"><h3>Name</h3></label>
        <input class="form-control" type="text" name="name">
      </div>
      <div class="btn-group">
        <button class="btn btn-success" type="submit">Add Tag</button>
      </div>
    </form>

  </div>

</div>
