<!-- Dashboard -->
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Hi, <%= @user.name()%> </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id()%>">Language <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tags">Flashcard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips">Tips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/resources">Resources</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="/">Log Out</a>
    </span>
  </div>
</nav>
 <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
      </div>
    </section>
  </a>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a class="link-new-tip" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/new"><h3>Add new tip</h3></a>
      <% if @tips.any?() %>
        <% @tips.each() do |tip| %>
          <div class="card tip_card text-left">
            <div class="card-header tip_header">
              <h3><%= tip.name() %></h3>
              <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/<%= tip.id() %>/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <input type="image" class="delete_button_resources" src="/img/delete_w.svg" type="submit">
              </form>
            </div>
            <div class="card-block tip_description">
              <p class="card-text lead" ><%= tip.description() %></p>
            </div>
          </div>
        <% end %>

      <% else %>
        <h4>No tips added yet.</h4>
      <% end %>
    </div>

  </div>


</div>
