<!-- Header -->
<a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
  <section id="cover">
    <div id="cover-caption">
    <h1 class="display-3"><%=@language.name() %></h1>
      <p class="lead display-5"><%= @user.name() %></p>
    </div>
  </section>
</a>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a class="link-new-tip" href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/new"><h3>Add new tip</h3></a>
      <% if @tips.any?() %>
        <% @tips.each() do |tip| %>
          <div class="card tip_card text-left">
            <div class="card-header tip_header">
              <h3><%= tip.name() %></h3>
              <form action="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/<%= tip.id() %>/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <input type="image" class="delete_button_resources" src="/img/delete_w.svg" type="submit">
              </form>
            </div>
            <div class="card-block tip_description">
              <p class="card-text lead" ><%= tip.description() %></p>
            </div>
          </div>
        <% end %>

      <% else %>
        <h4>No tips added yet.</h4>
      <% end %>
    </div>

  </div>


</div>
