<!-- Dashboard Header -->
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>" id="header_link">
    <section id="cover">
      <div id="cover-caption">
      <h1 class="display-3"><%=@language.name() %></h1>
        <p class="lead display-5"><%= @user.name() %></p>
      </div>
    </section>
  </a>


  <h1>Tips</h1>
  <% if @tips.any?() %>
    <% @tips.each() do |tip| %>
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= tip.name%></h5>
          <small><%= @language.name() %></small>
        </div>
        <p class="mb-1"><%= tip.description%></p>
      </a>
    </div>
    <% end %>

  <% else %>
    <h4>No tips added yet.</h4>
  <% end %>
  <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/new">Add new tip</a>
</div>
