<!-- Dashboard Header -->
<section id="cover" class="tip-cover">
  <div id="cover-caption">
    <a href="/users/<%= @user.id() %>/languages/<%= @language.id()%>"><h1 class="display-3">Tips</h1></a>
    <p><%=@language.name() %></p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Tips</h1>
      <a href="/users/<%= @user.id() %>/languages/<%= @language.id() %>/tips/new">Add new tip</a>
      <% if @tips.any?() %>
        <% @tips.each() do |tip| %>
        <div class="card tip_card text-left">
          <h3 class="card-header tip_header"><%= tip.name() %></h3>
          <div class="card-block tip_description">
            <p class="card-text" ><%= tip.description() %></p>
          </div>
        </div>
        <% end %>

      <% else %>
        <h4>No tips added yet.</h4>
      <% end %>
    </div>

  </div>


</div>
